body {
    text-align:center;
}

.shit-nav {
    font-family:"Open Sans";
    background-color:#000;
    color:#fff;
    font-weight:400;
    font-size:23px;
    padding-top:15px;
    padding-bottom:7px;
}

.icon {
    margin-top:10vh;
    width:120px;
    height:120px;
}

.shit {
    font-weight:700;
}

.mono {
    font-size:15px;
    color:#000101;
    font-family:"Roboto Mono";
    font-weight:400;
    margin-top:6vh; 
    margin-bottom:4vh;
}

.social-icons {
    height:20px;
    width:22px;
    margin-bottom:5vh;
    margin-right:17px;
}

hr {
    height: 1px; 
    color: #EEE;
    background-color: #EEE; 
    width:15%;
    margin-top:20px;
    margin-bottom:10px;
}

.fucking-button {
    font-size:15px;
    position:relative;
    background-color:#000;
    border:none;
}

.containable-box {
    background-color:#EEE;
    padding:6vh;
    height:250px;
}

.dope-input {
    resize:none;
    width:100%;
    height:100%;
    background-color:#EEE;
    outline:none;
    border:dashed;
    border-width:1px;	
    padding: 1.875rem;
    padding-bottom:100px;
    box-shadow: none;
}

.dope-post {
    margin-top:15px;
    font-size:15px;
    background-color:#000101;
    color:#FFF;
    border:none;
    padding:10px 25px;
    margin-bottom:20vh;
    border-radius:20px;
}

#sort-vote {
    width: 10vw;
    padding: 1vw;
    margin-bottom:100px;
    font-family: "Roboto Mono";
    background: transparent;
    background: #EEE;

}

#outer {
    background-color:#EEE;
    width:500px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin-bottom:100px;
    padding-top:10px;
    padding-bottom: 10px;
}

#post {
    margin-left: auto;
    margin-right: auto;
    color:#000;
    width:375px;
    font-family: 'PT Serif', serif;
    font-size:16px;
    font-weight: 400;
    margin-bottom:10px;
    text-align: center;
}

.detail-author {
    display:inline;
    color: #999;
    font-weight: 400;
    font-size: 14px;
    margin-left:20px;
}

.detail-love {
    display:inline;
    color: #999;
    font-weight: 400;
    font-size: 14px;
    margin-left: 400px;
}

.votes {
    margin-left: 430px;
    height: 25px;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
}

.votes:hover {
    /*color: #000;*/
    background-color: #FF847C;
    border: 1px solid #FF847C;
}

#upvoteicon {
    width: 50px;
    height: auto;
    padding-right: 10px;
    margin-left: 440px;
    margin-top: -10px;
    display: inline-block;
    color: white;

}

#name {
    font-size:20px;
}

.selection-title {
    font-family:"Roboto Mono";
    font-weight:500;
}


@media (max-width: 480px) {
    
  #name {
    display: none;
  }
  
  #outer {
      width:275px;
  }
  
  #post {
    width:250px;
    font-size:13px;
    margin-top:0px;
}

.detail-author {
    margin-left: 200px;
    padding-top: 15px;
}

  .votes {
    margin-left: 200px;
    text-align:left;
    font-size:13px;
    height:30px;
}
  
  
}

#notif {
    height: 100px;
    width: 100px;
    background-color: red;
    position:fixed;
}